.listItem
{
    width:225px;
    height: 120px;
    background-color: var(--main-color);
    margin-right: 5px;
   overflow: hidden;
  cursor: pointer;
  color: white !important;

img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}


 video{
  width: 100%;
  height: 140px;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0
}
&:hover{
  width:325px;
  height:300px;
background-color:var(--main-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top:-150px;
  border-radius: 5px;

  
  img{
    height:150px !important
  }

  .itemInfo{
  display: flex;
  flex-direction: column;
  padding: 5px;
.icons{
  display: flex;
  margin-bottom: 10px;
  .icon{
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
  }
}
.itemInfoTop{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color:gray;
  .limit{
    border: 1px solid gray;
    padding:1px 3px;
    margin: 0 10px;
  }
}
.description{
  font-size: 13px;
  margin-bottom: 10px;
}

.genre{
  font-size: 14px;
  color:lightgrey
}

  }
}


}